@import "../../../styles/main.scss";

.accordion {
  margin: 0px !important;
  box-shadow: none !important;
  outline: none;

  .MuiAccordionSummary-root {
    padding: 4px 16px 4px 0px;
    border: none;
    outline: none;

    .MuiAccordionSummary-content {
      margin: 12px 0px;
    }
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .MuiCollapse-root {
    padding: 0px 0px 0px 8px;

    .MuiAccordionDetails-root {
      padding: 0px 0px 0px 16px;

      .meaning-li {
        .MuiTypography-root {
          padding-left: 8px;
          @extend .light;
        }
      }
    }
  }
}

.MuiAccordion-root:before {
  visibility: hidden;
}