$white: #ffffff;
$black: #000000;
$primaryGradient: linear-gradient(223.9deg, #760E25 -0.02%, rgba(253, 164, 2, 0.4) 91.59%);
$offWhite: #eeeeee;

$primary: #760E25;
$primaryDark: #450000;
$primaryLight: #AA424D;

$secondary: #FDA402;
$secondaryDark: #C47500;
$secondaryLight: #FFD54A;

$green: #219653;
$red: #FF304F;
$boxShadow: 0px 2px 6px rgba(0, 0, 0, 0.05)
