$white: #ffffff;
$black: #000000;
$primaryGradient: linear-gradient(223.9deg, #760E25 -0.02%, rgba(253, 164, 2, 0.4) 91.59%);
$offWhite: #eeeeee;
$offBlack: #434953;

$primary: #760E25;
$primaryDark: #450000;
$primaryLight: #AA424D;

$secondary: #FDA402;
$secondaryDark: #C47500;
$secondaryLight: #FFD54A;

$headerHeight: 64px;
$green: #219653;
$red: #eb2926;
$grey: #C4C4C4;
$redBackground: #ffede7;
$boxShadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
$boxShadowMedium: 10px 10px 50px rgba(0, 0, 0, 0.2);
$boxShadowDark: 10px 10px 50px rgba(0, 0, 0, 0.5);
$borderColor: #000000;
$gutters: 64px;