@import "typography";
@import "overrides";
@import "colors";
@import "animations";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Poppins";
    color: $black;
    font-size: 14px;
    font-weight: 400;
}