@import "typography";
@import "overrides";
@import "colors";
@import "animations";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Poppins";
    color: $black;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    overflow-y: auto !important;
    overflow-x: hidden;
    padding: 0px !important;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 3px;
}
