@import "./colors.scss";

.MuiInputBase-input {
    font-size: 15px !important;
    font-weight: 400 !important;
}

.MuiFormLabel-root {
    font-size: 15px !important;
    font-weight: 400 !important;
}

.MuiButtonBase-root  {
    text-transform: none !important;
    padding: 4px 16px;
}

.MuiMenuItem-root {
    padding: 8px 24px !important;
}