.MuiInputBase-input {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.MuiFormLabel-root {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.MuiButtonBase-root  {
    text-transform: none !important;
    padding: 4px 16px;
}