@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Black.ttf);
    font-weight: 800;
}

.labelHeading {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
}

.headerBlack {
    font-family: Poppins;
    font-weight: 700;
    font-size: 44px;
}

.bodyRegular {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
}

.light {
    font-weight: 300 !important;
}

.bodyLight {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}

.labelSemibold {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
}