@import "../../styles/main.scss";

.page-container {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px $guttersLaptop;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $offWhite;
    min-height: calc(100vh - 50px);
    width: 100%;
}

.page-container::-webkit-scrollbar {
    width: 5px;
}

.page-container::-webkit-scrollbar-thumb {
    background: #888;
}


@media only screen and (max-width: 1020px) {
    .page-container {
        padding: 20px $guttersTablet;
    }
}

@media only screen and (max-width: 640px) {
    .page-container {
        padding: 20px $guttersMobile;
    }
}