@import "../../styles/main.scss";

.page-container {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $offWhite;
    min-height: calc(100vh - 50px);
    width: 100%;
}

.page-container::-webkit-scrollbar {
    width: 5px;
}

.page-container::-webkit-scrollbar-thumb {
    background: #888;
}