*{
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #2E2E48;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}