@import "../../../styles/main.scss";

.stepper-container {
  width: 90%;
  max-width: 1700px;
  height: fit-content;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 16px 32px 32px 32px;
  display: flex;

  .stepper-left {
    width: 40%;
    height: 100%;
    margin: auto;
  }

  .stepper-right {
    width: 60%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding-left: 24px;
  }

  .all-set {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .lottie {
      height: 90%;
      max-height: 600px;
    }
  }

  .quiz-instructions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;

    ul {
      display: flex;
      flex-direction: column;
      margin-top: 6px;
      margin-left: 36px;
    }
  }

  .good-luck-text {
    margin-top: 12px;
  }

  .quiz-start-btn {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 1020px) {
  .stepper-container {
    width: 90%;
    flex-direction: column;
    .stepper-left {
      width: 100%;
    }

    .stepper-right {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 640px) {
  // .stepper-container {
  //   width: 90%;
  //   flex-direction: column;
  //   .stepper-left {
  //     width: 100%;
  //   }

  //   .stepper-right {
  //     width: 100%;
  //   }
  // }
}
