@import "../../../styles/main.scss";

.button {
    padding: 6px 64px !important;
    width: fit-content !important;
}

.rounded-btn {
    padding: 2px 24px !important;
    border-radius: 20px !important;
}