@import "../../../styles/main.scss";

.button {
    padding: 6px 64px !important;
    width: fit-content !important;
}

.rounded-btn {
    padding: 2px 24px !important;
    border-radius: 20px !important;
}

@media only screen and (max-width: 640px) {
    .button {
        padding: 2px 32px !important;
    }

    .rounded-btn {
        padding: 1px 12px !important;
    }
}
