@import "../../../styles/main.scss";

.leaderboard-page-container {
  background: url(../../../assets/images/backgroundMesh.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - $headerHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;

  .content-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: $white;
    width: 50%;
    height: 70%;
    height: fit-content;
    padding: 32px 0px 32px 64px;
    border-radius: 12px;
    position: relative;

    .lottie {
      min-height: 200px !important;
      align-self: flex-end;
      // transform: translateY(60px);
    }

    .content {
      position: absolute;
      top: 40px;
      left: 64px;
      font-size: 24px;
      font-weight: 600;
      width: 40%;
      color: $primary;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .leaderboard-page-container {
    .content-container {
      width: 70%;
      height: 60%;
      padding: 32px 0px 32px 32px;
      .content {
        top: 32px;
        left: 32px;
      }
      .lottie {
        min-height: 160px !important;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .leaderboard-page-container {
    .content-container {
      width: 90%;
      padding: 16px 0px 16px 16px;
      .content {
        top: 32px;
        left: 32px;
      }
    }
  }
}