@import "../../styles/main.scss";

.header-container {
  display: flex;
  height: $headerHeight;
  align-items: center;
  padding: 32px $guttersLaptop;
  z-index: 100;
  background-color: transparent;
  color: $primary;
  width: 100%;
  justify-content: space-between;

  .navigation-tabs {
    display: flex;
    align-items: center;
    height: inherit;

    .heading-container {
      height: 100%;
      // height: calc(100% - 3px);
      padding: 0px 12px;
      display: flex;
      align-items: center;
      margin-right: 32px;
      cursor: pointer;
      padding-bottom: 3px;
    }

    .active {
      border-bottom: 3px solid $primary;
      padding-bottom: 0px;
    }
  }

  .avatar-container {
    display: flex;
    align-items: center;
    height: inherit;
    
    .avatar {
      cursor: pointer;
      margin-left: 16px;
      background-color: $primary;
      width: 32px;
      height: 32px;
      min-width: 32px;
    }

    .avatar__text {
      max-width: 160px;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
  }

  .call-for-actions {
    display: flex;
    align-items: center;
    @extend .bodyRegular;

    .login-btn {
      margin-right: 16px;
      padding-inline: 32px !important;
      color: $white;
    }

    .signup-btn {
      color: $primary;
      border-color: $primary;
    }
  }

  .nav-menu__icon {
    margin-left: 32px;
    cursor: pointer;
  }
}

.menu-container {
  padding: 6px 0px;
}

@media only screen and (max-width: 1020px) {
  .header-container {
    padding: 32px $guttersTablet;
  }
}

@media only screen and (max-width: 640px) {
  .header-container {
    padding: 32px $guttersMobile;
  }
}