@import "../../styles/main.scss";

.header-container {
  display: flex;
  height: $headerHeight;
  align-items: center;
  padding: 32px 64px;
  z-index: 100;
  background-color: transparent;
  color: $primary;
  width: 100%;
  justify-content: space-between;

  .navigation-tabs {
    display: flex;
    align-items: center;
    height: inherit;

    .heading-container {
      height: 100%;
      // height: calc(100% - 3px);
      padding: 0px 12px;
      display: flex;
      align-items: center;
      margin-right: 32px;
      cursor: pointer;
      padding-bottom: 3px;
    }

    .active {
      border-bottom: 3px solid $primary;
      padding-bottom: 0px;
    }
  }

  .avatar-container {
    display: flex;
    align-items: center;
    height: inherit;
    cursor: pointer;
    
    .avatar {
      margin-left: 16px;
      background-color: $primary;
      width: 32px;
      height: 32px;
    }
  }

  .call-for-actions {
    display: flex;
    align-items: center;
    @extend .bodyRegular;

    .login-btn {
      margin-right: 16px;
      color: $primary;
    }

    .signup-btn {
      color: $primary;
      border-color: $primary;
    }
  }
}

.menu-container {
  padding: 6px 0px;
}